<article class="widget-aboutlena widget-before-main widget-about-author-widget widget">
    <div id="intro" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img class="img-responsive center-block" src="{{ site.baseurl }}/images/AboutAuthorWidget/Image/author-10.png">
          </div>
          <div class="col-md-6 text-center aboutlena">
            <div class="x2">Рада приветствовать Вас на моём сайте!</div>
            <p class="lead"></p>
<p>Меня зовут Лена Охапкина и здесь Вы можете познакомиться со мной и моими работами. Фотографией я занимаюсь около шести лет, а четыре года назад это плавно переросло в работу. Люблю снимать на улице, открытых пространствах, но студия так же имеется. Занимаюсь фотографией с удовольствием и стараюсь делиться этим с Вами!</p>
            <hr/>
			<p></p>
          </div>
        </div>
      </div>
    </div>
  </article>