---
layout: default
---

<div id="layout-main-container" class="container">
    <div id="layout-main" class="group">
        <div id="layout-content" class="group">
            {% include about.html %}
            <div id="content" class="group">
                <div class="zone zone-content">
                    <article class="image-gallery-page-with-text-on-top content-item">
                        <header>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h1 class="page-header">{{ page.title }}</h1>
                                </div>
                            </div>
                        </header>
						{% if page.options %}
						<ul>
                            {% for option in page.options %}
                                <li>{{ option }}</li>
                            {% endfor %}
                        </ul>
                        <hr>
						{% endif %}
						{{ content }}
                        <div class="row gallery">
                            {% for image in page.images %}
                                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                    <a class="thumbnail fancybox" rel="group" href="{{ image[0] }}">
                                        <img src="{{ image[1] }}" alt="{{ image[2] }}" class="img-responsive">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                        <!-- Side Menu -->
                        <a id="menu-toggle" href="{{ page.backlink }}" class="btn btn-primary btn-lg toggle btn-toggle-menu" data-toggle="tooltip" data-placement="right" title="" data-original-title="Назад"><i class="fa fa-chevron-left"></i></a>
                        <!-- /Side Menu -->
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>